In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('Output/infos_entreprises_final.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1660 entries, 0 to 1659
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Nom de l'entreprise        1656 non-null   object
 1   Activite                   1655 non-null   object
 2   Adresse                    1641 non-null   object
 3   Ville                      1641 non-null   object
 4   Coordonnees geographiques  1653 non-null   object
 5   RC                         1654 non-null   object
 6   Tribunal                   1656 non-null   object
 7   ICE                        343 non-null    float64
 8   Forme Juridique            1655 non-null   object
 9   Capital                    1656 non-null   object
dtypes: float64(1), object(9)
memory usage: 129.8+ KB

In [3]:
data.describe(include='all')

,Nom de l'entreprise,Activite,Adresse,Ville,Coordonnees geographiques,RC,Tribunal,ICE,Forme Juridique,Capital
count,1656,1655,1641,1641,1653,1654,1656,3.430000e+02,1655,1656
unique,1656,1452,1609,105,919,1615,51,NaN,10,186
top,ORNELLA (ORNELLA),marchand effectuant import-export,38 Rue Gallieni,Casablanca,33.58694440000001 : -7.6111111000000164,4133,Tribunal de Casablanca,NaN,Societe a Responsabilite Limitee,100 000
freq,1,28,11,720,161,3,765,NaN,888,564
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.938071e+11,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.088030e+11,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.280001e+08,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.910935e+11,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.430465e+12,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.553834e+12,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.167137e+12,NaN,NaN

In [4]:
data

,Nom de l'entreprise,Activite,Adresse,Ville,Coordonnees geographiques,RC,Tribunal,ICE,Forme Juridique,Capital
0,ORNELLA (ORNELLA),la confection de tous vetements d'hommes de f...,Rue I N10 Lotissement El Mers Hay El Oulfa,Casablanca,33.55015 : -7.574055,50155,Tribunal de Casablanca,1.514513e+12,Societe Anonyme,200 000
1,PYROCARBONE (STE ANONYME),toutes operations commerciales industrielles ...,12 Avenue Dar El Maghzen,Rabat,34.020719 : -6.837326,12620,Tribunal de Rabat,NaN,Societe Anonyme,2 000 000
2,SOCOF (STE) (SOCOF),confection,13 Rue De Pelvoux Maarif,Casablanca,33.58028 : -7.635305,36511,Tribunal de Casablanca,NaN,Societe Anonyme,1 000 000
3,BARSAL (TRANSPORT),transport de marchandises,26 Rue Peronne,Casablanca,33.596045 : -7.589534,88873,Tribunal de Casablanca,5.287950e+11,Societe a Responsabilite Limitee,100 000
4,SOCIETE D'EQUIPEMENT ET CONSTRUCTION EL AHMADI...,travaux de construction vente de tous materia...,6 Rue Baamrane Sidi Belyout,Casablanca,33.59483 : -7.60044,133941,Tribunal de Casablanca,1.541655e+12,Societe a Responsabilite Limitee a Associe Unique,100 000
...,...,...,...,...,...,...,...,...,...,...
1655,AL INIITAK,import export industrie et commerce,Residence Ziad Jassim 2 Rue Charles Peguy,Casablanca,33.604188 : -7.654899,96501,Tribunal de Casablanca,5.140740e+11,Societe a Responsabilite Limitee,1 000 000
1656,EXPERT SOFT SERVICE,entrepreneur de l'entretien d'appareils mater...,Bd D'anfa Angle Bd My Youssef N47,Casablanca,33.59529 : -7.63021,82757,Tribunal de Casablanca,NaN,Societe a Responsabilite Limitee,1 000 000
1657,STE BAYT NORD,la promotion immobiliere,Boussafou Av Ismailia N 74 Touabel,Tetouan,35.59521 : -5.34654,5559,Tribunal de Tetouan,5.350560e+11,Societe a Responsabilite Limitee,1 000 000
1658,EL MASSI ET ALI LABO-PHOTOS BOSNA,la creation et l'exploitation d'un laboratoir...,Rue Ain Madiouna Imm Zouhra N3,Sale,34.0456478 : -6.8024781,4365,Tribunal de Sale,NaN,Societe en Nom Collectif,162 000
1659,MAROCAINE DES PRODUITS FRAIS DE LA MER (STE) (...,"l'achat, la vente, le traitement, la transfor...",Lot Laayoune Lot N33 Ain Borja,Casablanca,NaN,43737,Tribunal de Casablanca,NaN,Societe Anonyme,500 000